@media only screen and (max-width: 376px){
.main{
    width: 325px;
    height: 500px; 
    margin-left: 5px;  
    margin-right: 5px; 
    margin-bottom:500px;               
}

.pp{
    float: none;
    width: 90%;
    height: 10px;
    margin-bottom: 250px;
    line-height: 25px;
}

.grey{
    line-height: 25px;
}

.dabba{
    float: none;
    width: 100%;
}

.whyus{
    float: none;
    width: 100%;
    
}

.font{
    line-height: 20px;
}

}